{% extends '::base.html.twig' %}

{% block title %}Composition de la commission des débats{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Membres de la commission des débats:</h1>
        <ul>
            <li>Aebischer Sylvie (75)</li>
            <li>Bernalicis Ugo (59)</li>
            <li>Bompard Manuel (31)</li>
            <li>David Alexis (39)</li>
            <li>Debraye Lionel (44)</li>
            <li>Debregeas Anne (94)</li>
            <li>Ersoy Selin (35)</li>
            <li>Jarzabek Tatiana (75)</li>
            <li>Kebaili Ramzi (75)</li>
            <li>Lallemand Jean-Charles (75)</li>
            <li>Le Bretton Manon (11)</li>
            <li>Magdo Hélène (31)</li>
            <li>Maillard Lise (31)</li>
            <li>Palissat Géraldine (75)</li>
            <li>Renoux Jean-Paul (75)</li>
            <li>Tissier Michel (45)</li>
        </ul>
    </div>
</div>
{% endblock %}
