{% extends '::base.html.twig' %}

{% block title %}Composition de la commission des votes{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Membres de la commission des votes</h1>
        <ul>
            <li>Lucile Defaut</li>
            <li>Frédérique Dumont</li>
            <li>Christophe Gaigne</li>
            <li>Vianney Orjebin</li>
            <li>Arnaud Serre</li>
        </ul>
        <p>
            Contact : <a href="mailto:frederique.dumont@lepartidegauche.fr">frederique.dumont@lepartidegauche.fr</a>
        </p>
    </div>
</div>
{% endblock %}
