<h3>Processus d'amendement</h3>
<ul>
{% for process in processes %}
    {% if is_granted('view', process) %}
        <li>
            <a href="{{ path('amendment_deposit_create', {id: process.id}) }}">
                {{ process.name }}
            </a>
        </li>
    {% endif %}
{% else %}
    <li>Pas de contenu</li>
{% endfor %}
