/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/Resources/downloads/*
/build/
/vendor/
/bin/
/composer.phar
*~
*.swp
.vagrant
