{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
        <h1>Compte Remues Méninges 2015</h1>
        <div>
        Merci de compléter les informations de votre compte.
        </div>
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
