{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Mon profil</h1>
            <p>
                Prénom : {{ app.user.profile.firstname}}<br/>
                Nom : {{ app.user.profile.lastname }}<br/>
                Date de naissance : {{ app.user.profile.birthdate | date("d/m/Y") }}<br/>
                Adresse email : {{ app.user.email }}
            </p>
        </div>
    </div>
{% endblock %}
