{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bonjour, {{ app.user.profile.firstname}}</h1>
        <p>
            <h2>Désignation des délégués au congrès</h2>
            Seuls les co-secrétaire de comités peuvent transmettre le nom des délégués au congrès. Les délégations doivent être paritaires.<br/>
            Pour toute question ou difficulté de transmission, appelez au 06 88 95 51 84 ou congres2015@lepartidegauche.fr.
        </p>
        <p>
        Transmettre le nom des délégués au congrès <a href="{{ path('election_list') }}">ici</a>
        </p>
    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
            2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
</div>
{% endblock %}
