{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Bonjour, {{ app.user.profile.firstname}}</h1>
            <div class="col-md-6">
                <h2>Travaux de la commission des débats</h2>
                <p>
                    Les cahiers d'amendements de la Commission des débats concernant les
                    statuts, le règlement intérieur du PG et le texte de la Plateforme,
                    ainsi que les rapports sur leur traitement, sont disponibles dans la
                    rubrique "Textes".
                </p>
                <p>
                    Pour joindre la commission des débats: commission-debats@lepartidegauche.fr
                </p>

                <h2>Inscription au congrès</h2>
                <p>
                    <a href="{{ path('event_registration_create', { event_id: 3 }) }}">
                        Cliquer ici pour s'inscrire au congrès de Villejuif.
                    </a>
                </p>

                <ul>
                    <li>
                        Les délégués et membres du bureau national sont membres de droit et
                        s'inscrivent directement.
                    </li>
                    <li>
                        Les membres des différentes commissions, les candidats aux instances,
                        les équipes d'organisation et les invités transmettent au préalable leur
                        demande d'inscription à : congres2015@lepartidegauche.fr
                    </li>
                </ul>
                <p>
                    Contact : Marie-Pierre Oprandi 06 88 95 51 84
                </p>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-warning text-justify" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
                congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
                2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
            </div>
        </div>
    </div>
{% endblock %}