{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bonjour, {{ app.user.profile.firstname}}</h1>

        <p>
        La Commission des Votes s'est réunie le 30 avril pour enregistrer et comptabiliser les PV de votes en comité sur les deux plateformes transmises aux débats du Congrès par le CN de début avril.
        Voici le résultat du vote en fonction des voix par plateformes :
        </p>
        <dl>
            <dt>«&nbsp;Tout est Possible&nbsp;»&nbsp;:</dt><dd>54,44% des voix</dd>
            <dt>«&nbsp;Clarté et Courage Politique&nbsp;»&nbsp;:</dt><dd>45,56% des voix</dd>
        <dl>

    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
            2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
</div>
{% endblock %}
