{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bonjour, {{ app.user.profile.firstname}}</h1>

        <p>
            Le formulaire de dépôt des amendements est <a href="{{ path('text_list', { 'group_id' : 3 }) }}">disponible ici</a> et dans le menu Amendements.
        </p>
        <p>    
            Attention : seuls les co-secrétaires de comités et les responsables d’une commission peuvent déposer des amendements.<br/>
            Pour les comités se réunissant ensemble le temps du Congrès, un seul co-secrétaire doit déposer les amendements pour l’ensemble des comités.<br/>
            Les amendements déposés par 10 membres du CN et par 50 adhérents doivent être envoyés directement à congres2015@lepartidegauche.fr et frederiquedumont@lepartidegauche.fr<br/>
        </p>
        <p>
            Pour toute question : appelez le 06 88 95 51 84 ou laissez un message à  congres2015@lepartidegauche.fr
        </p>
        </p>
    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
            2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
</div>
{% endblock %}
