{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div>
            <h3>Textes adoptés lors du Conseil National du 17 janvier 2016</h3>
            <p>
                Les textes adoptés par le Conseil National du du 17 janvier 2016
                sont également disponibles dans la rubrique Conseil National.
            </p>
            <ul>
                <li>
                    <a href="{{ path('downloads', {filename: 'Résolution_adoptée_CN.pdf'}) }}">
                        Résolution politique
                    </a>
                </li>
                <li>
                    <a href="{{ path('downloads', {filename: 'Réforme_RI_adoptée_CN.pdf'}) }}">
                        Réforme du Règlement Intérieur
                    </a>
                </li>
                <li>
                    <a href="{{ path('downloads', {filename: 'Charte_Plateforme_adoptée_CN.pdf'}) }}">
                        Charte d'utilisation de la plateforme numérique du CN
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
            2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
{% endblock %}
