{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Résultats des votes des comités sur les plateformes</h1>
        <p>
        La Commission des Votes s'est réunie le 30 avril pour enregistrer et comptabiliser les PV de votes en comité sur les deux plateformes transmises aux débats du Congrès par le CN de début avril.
        Voici le résultat du vote en fonction des voix par plateformes :
        </p>
        <dl>
            <dt>«&nbsp;Tout est Possible&nbsp;»&nbsp;:</dt><dd>54,44% des voix</dd>
            <dt>«&nbsp;Clarté et Courage Politique&nbsp;»&nbsp;:</dt><dd>45,56% des voix</dd>
        <dl>
    </div>
</div>
{% endblock %}
