# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # This must be defined in order for tests to work when database is not
    # set up (eg. on travis), otherwise Doctrine will try to connect the
    # database and generate error. See : https://github.com/symfony/symfony-standard/issues/748
    # Put it to the correct value.
    database_server_version : "5.0"
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_sender_address: postmaster@example.com
    mailer_auth_mode:  ~

    session_save_path: '%kernel.root_dir%/sessions'

    locale:            fr

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeI
    superadmin_password: ThispasswordIsNotSecretSoChangeI
    is_paybox_in_production: false
    paybox_site: 1999888
    paybox_rank: 32
    paybox_login: 107904482
    paybox_hmac_key: 1999888I

    cosecretaire_departement_id: 6
    coTresorier_departement_id: 7

    category_homepage: "Page d'accueil"
