{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Candidature aux instances</h1>
        <p>
        Les candidatures sont personnelles et accompagnées d'une profession de foi comprenant
        2&nbsp;500 signes maximum, espaces compris. <br/>
        </p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
