{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Candidature aux instances</h1>
        <p>
        La date limite de dépôt des candidatures est fixée au vendredi 19 juin minuit.<br/>
        Les candidats doivent être à jour de cotisations et avoir 6 mois d'ancienneté au parti.<br/>
        Les candidatures sont personnelles et accompagnées d'une profession de foi comprenant
        2&nbsp;500 signes maximum, espaces compris. <br/>
        Pour les sortants, un bilan de mandat  de 1&nbsp;000 signes maximum doit être joint.
        </p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
