{% extends '::base.html.twig' %}

{% block title %}
    {{ candidatureCall.title }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ candidatureCall.title }}</h1>
        <p>
        {{ candidatureCall.description }}
        </p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
