{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% render(controller('AppBundle:Sleeping:bookingsByBedroom', {'id': object.id })) %}
    </div>
{% endblock %}