{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
<h1>Inscription</h1>
<p class="text-muted">Saisir une adresse courriel (<em>celle connue du Parti de Gauche pour les adhérents</em>) et choisir un mot de passe</p>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
