{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
<h1>Inscription</h1>
<p class="text-muted">Saisir l'adresse courriel connue du Parti de Gauche et choisir un mot de passe</p>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
