{% extends '::base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des Menus</h1>
                <div role="tabpanel">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="validated">
                            {% if categoryList is empty %}
                                <p>Pas de Categorie</p>
                            {% else %}
                                <table class="table tablesorter" id="table_menu">
                                    <thead>
                                    <tr>
                                        <th>Titre de la catégorie</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for category in categoryList %}
                                        <tr>
                                            <td>
                                                {{ category.title }}
                                            </td>
                                            <td>
                                                {{ category.description }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}