{% extends '::base.html.twig' %}

{% block title %}Soumettre un amendement {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Soumettre un amendement</h1>
        <form method="post" action="{{ path('amendment_submit') }}">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Envoyer" />
        </form>
    </div>
</div>
{% endblock %}
