{% extends '::base.html.twig' %}

{% block title %}Hébergement {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>S'inscrire pour un hébergement</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}