{% extends '::base.html.twig' %}

{% block title %}Résultats des éléctions des délégués{% endblock %}

{% block body %}
<div class="container">
<h1>Délégués désignés</h1>
    <div class="row">
<table class="table table-bordered"><tr><td>    Département   </td><td>   Noms des délégués    </td><td>   Femme   </td><td>   Homme   </td></tr>
<tr><td>	1	</td><td>	Serge Tissot, Daniel Rossi	</td><td>		</td><td>	2	</td></tr>
<tr><td>	2	</td><td>	Fabienne Marchionni	</td><td>	1	</td><td>		</td></tr>
<tr><td>	3	</td><td>	Robert Boutterin, Sylvie Boussand, Frederic Morandat	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	6	</td><td>	Herve Lavisse, Alexia Tran, Xavier Pozzovivo, Roselyne Grac, Claude Ferrucci, Liliane Dotta	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	7	</td><td>	Christian Raciquot, Muriel Gay mellier, Annabelle Devillard, Patrick Geremia, Florence Pallot, Faride Eladie	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	8	</td><td>	Arnaud Lempereur, Aleksandra Langlais micic	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	9	</td><td>	Veronique Gomes, Michel Larive, Arnaud Coustie	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	10	</td><td>	Mireille Brouillet, Jean marc Weinling	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	11	</td><td>	Jean louis Vachot, Julien Bonnet gibert, Jean didier Carre, Odile Carol, Manon Le bretton, Marie helene Carre	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	12	</td><td>	Marie josee Planas, Guy Marion, Christophe Marion, Christelle Galtier, Guilhem Serieys, Philippe Gastrein, Valerie Tavernier	</td><td>	3	</td><td>	4	</td></tr>
<tr><td>	13	</td><td>	Vincent Lemassu, Stella Apeddu, Alain Tarrini, Anne marie Delaubier, Monique Arcadio, Frederic Boyer, Karine Jomeau, Dominique Perez, Frederic Blanchard, Jean Sicard, Veronique Veinberg, Jean marc Cavagnara, Pierre Maurice, Dominique Fortunato, Miki Avella horiuchi, Matthias De lozzo, Christelle Ballardini	</td><td>	6	</td><td>	7	</td></tr>
<tr><td>	14	</td><td>	Karinne Gualbert, Marc Charbonnier, Jean michel Gualbert, Sylvie Cozzi busato	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	15	</td><td>	Jean marie Benoit, Alexandra Ordroneau	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	16	</td><td>	Marcelle Leduque, Jean gabriel Coignet, Jean michel Pascal, Claudine Granthomme	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	17	</td><td>	Maud Assila	</td><td>	1	</td><td>		</td></tr>
<tr><td>	18	</td><td>	Celine Millerioux, Denis Ducamp	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	19	</td><td>	Claude Maupertuy, Jean marc Vareille	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	21	</td><td>	Allain Graux	</td><td>		</td><td>	1	</td></tr>
<tr><td>	22	</td><td>	Jacques Quiniou, Ines Gonse, David Lemarie, Anne marie Brosch	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	23	</td><td>	David Gipoulou, Laurence Pache, Laurent Sauvajon	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	24	</td><td>	Margaret Mechin, Jean Lacassagne, Richard Lavigne	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	25	</td><td>	Hanene lena Diar bendiab, Severine Vezies, Rosine Chavin simonot, Daniel Conversy, Michel Boutonnet, Benoit Maillard salin	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	26	</td><td>	Hélène Lacheret, Corinne Morel-darleux, Didier Thevenieau,  Etienne Maillet, William Ouzilou, Jean Marc Tournier, Jacques Bonnet, Olivier Jospin	</td><td>		</td><td>		</td></tr>
<tr><td>	27	</td><td>	Patricia Didtsch, Thomas Lafeuille, Hubert Legras	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	28	</td><td>	Patrice Gendreau	</td><td>		</td><td>	1	</td></tr>
<tr><td>	29	</td><td>	Florian Bizien, Anjela Gallais lavanant, Guilhem Grimal, Mouna Soliymani	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	30	</td><td>	Fabienne Labrosse, Joel Benaderette, Herve Deschamps, Xavier Aliot, Denise Marsetti, Adelaide Panaget, Matthieu Faure, Marie pierre Vaselli, Charles Menard, Josette Jager, Luc Rousselot, Marion Prochazka rousselot	</td><td>	6	</td><td>	6	</td></tr>
<tr><td>	31	</td><td>	Christophe Schimmel, Romain Jammes, Annie Ertz, Lionel Boireau, Katia Broussy, Anne Stambach terrenoir, Gilles Naudy, Monique Fabre, Bruno Brouard, Mathilde Andre, Antoine Le tron, Marc Vidal, Helene Magdo, Francois Michaud, Lise Maillard, Francoise Courreges, Daniel Authier, Simon Berger, Dominique Le Breton, Solveig Rousselot, Olivier Balzer	</td><td>	8	</td><td>	10	</td></tr>
<tr><td>	32	</td><td>	Pascal Penetro	</td><td>		</td><td>	1	</td></tr>
<tr><td>	33	</td><td>	Jacques Martinet, Nelly Simounet, Brigitte Lassabe, Francisco Martin gomez, Anne Druais, Adrien Rayssac, Mamadou Niang, Sylvaine Lacrampe, Olivier Soria, Yann Couvidat, Catherine Bonnaud, Michel Le ray, Christine Boronat croizier	</td><td>	6	</td><td>	7	</td></tr>
<tr><td>	34	</td><td>	David Garcia, Michel Szewczyk, Mathilde Denjean, Myriam Hubert, Anne Roux, Jean marie Pourtier, Serge Azais, Franck Fiandino, Pascale Le neouannic, Patrick Seguin, Muriel Ressiguier, Jean philippe Prost, Clement Château, Chantal Ponsot, Ghyslaine Gelys, Richard Belfer, Madeleine Estryn, Thierry Aufranc	</td><td>	8	</td><td>	10	</td></tr>
<tr><td>	35	</td><td>	Herve Launay, Claude Lucas, Nicole Echeverria pelle, Felix Boullanger, Jean paul Tual, Marianne Audran, Selin Ersoy, Patrick Bergogne	</td><td>	3	</td><td>	5	</td></tr>
<tr><td>	36	</td><td>	Aymeric Compain, Patrick Beaujard, Corinne Chanzy	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	37	</td><td>	Anthony Brondel, Sylvie Adolphe, Laure Ferrand, Darya Chekhova, Tommy Lasserre, Johann Elbory	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	38	</td><td>	Laure Cabanal, Antoinette Dimier, Emilie Marche, Marie-Brigitte Melot, François Bouchet, Davis Smith, Sofiane Kouidi, Raphaël Juy, Pierre-Yves Emeraud, Kristof Domenech, Dominique Mulé, Pierre Augier, Dijleren Acar, Laetitia Lemoine, Catherine Rakose, Tania Bustos, Alan Confesson, Atisha Garin-Michaud, Tayeb Tounsi, Nicole Varas, Thierry Monchatre jacquot, Sophie Ravanne, Isabelle Thomas, Veronique Puthod, Amin Ben ali	</td><td>	14	</td><td>	11	</td></tr>
<tr><td>	39	</td><td>	Sylvie Chagnard, Maryline Melenchon, Alexis David	</td><td>	2	</td><td>	1	</td></tr>
<tr><td>	40	</td><td>	Celine Piot, Laurent Peguy, Jean renaud Ferran	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	41	</td><td>	Sebastien Beaudeux, Carole Di tommaso	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	42	</td><td>	Andree Taurinya, Mohamed Oumakhlouf, Corinne Oumakhlouf, Raymond Castillo	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	44	</td><td>	Alain De saint amour, Fabien Gracia, Catherine Chastan, Gilles Rialland, Jean luc Legal, Catherine Legal, Philippe Martin, Vanessa Toublanc, Erwan Bourrigault	</td><td>	2	</td><td>	5	</td></tr>
<tr><td>	45	</td><td>	Fabien Auffret, Marie claire Gama, Alain Gama, Etienne Sappey, Sacha Berthe verdelet	</td><td>	1	</td><td>	4	</td></tr>
<tr><td>	47	</td><td>	Celine Boussie, Paul Laustriat, Magali Castanier, Lionel Chilaud	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	49	</td><td>	 Pierre Mignot, Lionel Dupuet, Claude Biardeau, Gaelle Chardon	</td><td>	1	</td><td>		</td></tr>
<tr><td>	50	</td><td>	Gerard Lacroix, Benedicte Maziere, Karin Lacroix, Yvonne Pecoraro	</td><td>	3	</td><td>	1	</td></tr>
<tr><td>	51	</td><td>	Francoise Georges, Nicolas Maurin	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	52	</td><td>	Daniel Monnier, Marie jose Noel	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	53	</td><td>	Manuel Doumeau, Christelle Hunault, Julien Favrot	</td><td>		</td><td>	1	</td></tr>
<tr><td>	54	</td><td>	Dominique Mauvais, Michael Silistrini, Bertrand Segers, Gregoire Briquet	</td><td>	1	</td><td>	3	</td></tr>
<tr><td>	57	</td><td>	David Seyer, Marylene Gaviano, Claudine Poirson, Pascal Gatty, Celine Leger, Gilles Wobedo	</td><td>	3	</td><td>	3	</td></tr>
<tr><td>	59	</td><td>	Francois Guiffard, Leslie Lefebvre, Aurelien Gack, Christine Le coent, Julien Poix, Sebastien Polveche, Dominique Vanderspiegel, Jocelyne Dubois, Adrien Quatennens, Jean claude Petit, Christine Machuron, Paul Megueul, Corinne Hennotelle, Claude Veyer, Francoise Dupont cunin	</td><td>	7	</td><td>	8	</td></tr>
<tr><td>	60	</td><td>	Michael Monzo, Julien Galvez, Veronique Noel	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	61	</td><td>	Sebastien Roussette	</td><td>		</td><td>	1	</td></tr>
<tr><td>	63	</td><td>	Aurelie Ducruet, Huguette Ruiz, Francois Ulrich, Alparslan Coskun, Cherif Elhaf, Laurence Schlienger, Guillaume Gaime, Francoise Dureau, Romain Dureau, Michelle Collange, Marc Chovin, Lidia Lebas, Olivier Clavaud, Tony Bernard, Patricia Chataing, Annie Perufel	</td><td>	8	</td><td>	8	</td></tr>
<tr><td>	64	</td><td>	Robert Harte, Armelle Gouron, Marie ange Fouquet, Denis Angermann, Franck Fouquet	</td><td>	2	</td><td>	3	</td></tr>
<tr><td>	65	</td><td>	Maurice Dussollier, Monique Sanciaud, Roland Laporte, Marie jose Cremades sanchez, Thomas Demoutiez	</td><td>	2	</td><td>	3	</td></tr>
<tr><td>	66	</td><td>	Alain Prat de riu, Manuella Hallier, Francis Daspe, Carole Gohier, Henri Vilaro	</td><td>	2	</td><td>	3	</td></tr>
<tr><td>	67	</td><td>	Antoine Roth, Jean christophe Capelier, Jean claude Val, Gwenaelle Le leuch	</td><td>	1	</td><td>	3	</td></tr>
<tr><td>	68	</td><td>	Marie christine Weigel zins	</td><td>	1	</td><td>		</td></tr>
<tr><td>	69	</td><td>	Marie alice Jacquiot, Damien Cogez, Helene Jacomelli, Claude Delorme, Serge Goudard, Eleni Ferlet, Stephane Gillet, Brigitte Gillet, Maika Fargeot, Sami Bouzid, Nicole Benayoun, Jean philippe Sechaud, Baptiste Caquot, Danielle Cheriot, Danielle Collet, Olivier Gluck, Gérard Gracia, François Bonnet	</td><td>	8	</td><td>	7	</td></tr>
<tr><td>	72	</td><td>	Eric Jamet, Therese Gouet	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	73	</td><td>	Nathalie Strasser, Renee Aubineau, Fabien Nathan, Philippe Langlois	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	75	</td><td>	Sandrina Fois, Christine Debuisson, Antoine Bonnet, Alexis Vilanova, Yohann Delozier, Layla Yakoub, Clement Bony, Isabelle helene Lerner, Ramzi Kebaili, Isabelle Bolvin, Mathilde Larrere, Alexis Villareal, Diane Coulomb, Coline Talibart, Guillaume Royer, Hugo Coldeboeuf, Romain Aufaure, Laurence Guariglia, Alice Vintenon, Jean pierre Coulomb, Eric Chassaing, Dominique Mesfioui, Claire Bouthillon, Olivier Bonafe, Joelle Ellert, Hugo Hanry, Gauthier Boucly, Francoise Giboteau, Marian Petitfils, Alexandre Prud hommeau, Cecile Tavan, Anne marie Bennani, Celine Ferrero, Audrey Torrecilla, Daniele Atala, Valerie Lafont, Christiane Verant, Stephane Rivail, Gabriel Mazzolini, Antoine Hemon, Etienne Icard, Christian Rodriguez, Claude Poliak, Hadrien Clouet, Carole Feral, Raul Sampognaro, Anthony Magalhaes, Geraldine Palissat, Fabien Nony, Josette Veyssiere, Patricia Caille, Pierre Magne, Jonathan Soyez, Tatiana Jarzabek, Elyse Lethuillier, Mathilde Panot, Christophe Roux, Jeanne Chevalier, Clement Fradin, Vincent Legeay, Cecile Debrand bonapetit, Michel Hernando, Paul Vannier, Emmanuel Olivard, Sarah Legrain, Nolwenn Neveu, Frederique Rey, Hugo Roels, Anne Gervais, Dominique Magniette, Jean paul Renoux	</td><td>	36	</td><td>	35	</td></tr>
<tr><td>	76	</td><td>	David Sebag, Helene Mayeur, Mathias Girard rzewuski	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	77	</td><td>	Solange Blais perrin, Christian Bourdet, Jacob Voglozin, Julia Killian, Chantal Thomas, Jean luc Lafaix, Francoise Godin	</td><td>	4	</td><td>	3	</td></tr>
<tr><td>	78	</td><td>	Alain Le vot, Catherine Lasserre, Marc Wojtowicz, Damien Dorna, Manon Coleou, Pierre Mascomere, Valerie Lanners, Alicia marie Hajjar	</td><td>	4	</td><td>	4	</td></tr>
<tr><td>	79	</td><td>	Frank Michel, Marie Glück, Isabelle Godeau	</td><td>		</td><td>		</td></tr>
<tr><td>	80	</td><td>	Vincent Bawedin, Yannick Savy, Emmanuelle Alarcon garcia	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	81	</td><td>	Loic Vergnes, Mederic Vildebrand, Jean jacques Vaudou, Annie Laaroussi, Agnes Meroni, Marie odile Gay bude, Francoise Bague, Guy Beaussart, Bernard Cottaz cordier	</td><td>	4	</td><td>	4	</td></tr>
<tr><td>	82	</td><td>	Jeannine Meignan, Pascal Mousque, Raphael Ferret	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	83	</td><td>	Christian Colard, Alain Losco, Laurent Richard	</td><td>		</td><td>	3	</td></tr>
<tr><td>	84	</td><td>	Thomas Pizard, Cecile Bourdaud, Marion Laporte, Jean michel Gremillet	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	85	</td><td>	Olivier Lineatte, Evelyne Robin, Philippe Sellier, Brigitte Guillet	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	86	</td><td>	Michele Douhet, Frederic Abrachkoff, Thomas Sahabi, Severine Lenhard	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	87	</td><td>	Adrien Gatet, Jean pierre Normand, Chantal Lafaye, Yves Thiebaut, Danielle Soury	</td><td>	2	</td><td>	3	</td></tr>
<tr><td>	88	</td><td>	Romain Mathieu, Aline Weber, Fabrice Pisias, Laurence Goujard	</td><td>	2	</td><td>	2	</td></tr>
<tr><td>	89	</td><td>	Christophe Giblot, Pascale Kaim, Yoann Toupet	</td><td>	1	</td><td>	2	</td></tr>
<tr><td>	90	</td><td>	Laurent Dupre	</td><td>		</td><td>	1	</td></tr>
<tr><td>	91	</td><td>	Nicole Esteve, Yvette Lamy, Pascale Prigent, Sylvie Prigent, Arnaud Pillier, Mathieu Hillaire, Pascal Manigot, Sylvere Cala, Frederique Dumont, Olivier Picot, Dominique Bardou, Olga Juraver, Mounia Benaili, Therese Herluc, Vivien Rebiere, Samira Kechelal, Patrice Finel, Jerome Flament, Sylvain Joseph	</td><td>	9	</td><td>	10	</td></tr>
<tr><td>	92	</td><td>	Yannick Remy, Juliette Hamelin, Mathias Andre, Anne Saidi, Bertrand Perrotte, Myriam Aloughi, Claude Barrouil, Simone Jacquinot, Lucie Heurtier, Jean paul Rubaux, Patricia Neau, Jean claude Bussiere	</td><td>	6	</td><td>	6	</td></tr>
<tr><td>	93	</td><td>	Thomas Linard, Claire Fetet, Benjamin Bornhausen, Rose anne Lhermet, Michel Lamboley, Elisabeth Navarrete rupayan, Claudio Calfuquir, Thibault Lhonneur, Bouchra Salih, Amna Gedouar, Daniel Bernard	</td><td>	5	</td><td>	6	</td></tr>
<tr><td>	94	</td><td>	Cathy Billon, Claire Giardelli, Yannick Stec, Jeannick Le lagadec, Plamen Pounkin, Mathieu Dupas, Delphine Fenasse, Alice Benveniste, Serge Marquis, Thomas Mettey, Nathalie Levallois, Sylvain Mailler, Maryvonne Legourd rocheteau, Thomas Giry, Cecile Germain, Djamel Arrouche	</td><td>	8	</td><td>	8	</td></tr>
<tr><td>	95	</td><td>	Patrick Couffin, Sylvie Boulanger, Françoise Jolly, Patrice Lavaud, Jean yves Bauduin, Cathy Pinheiro, Luc Deprez	</td><td>	2	</td><td>	3	</td></tr>
<tr><td>	971	</td><td>	Guilhem Saltel, Celine Koenig	</td><td>	1	</td><td>	1	</td></tr>
<tr><td>	974	</td><td>	Alexandre Cailleteau, Perceval Gaillard, François Fasquel	</td><td>		</td><td>	3	</td></tr>
<tr><td>	99 - FE	</td><td>	Patrick Zahnd, Elise Ballet, Sophie Rauszer, Florianne Gerwann, Pascal Hansens, Andre Thomas, Magali Orsini, Marion Alcaraz, Marie barbara Schimmel, Julien Boeuf, Laurent Sirizzotti, Cecile Blanchet, Guillaume Delarue, Philippe Ogonowski	</td><td>	7	</td><td>	7	</td></tr>

<tr><td></td><td></td><td>   245 </td><td>   286 </td></tr>
<tr><td></td><td></td><td>   531 </td><td>   531 </td></tr>
<tr><td></td><td></td><td>   46,14%  </td><td>   53,86%  </td></tr>
</table>

    </div>
</div>
{% endblock %}
