{% extends '::base.html.twig' %}

{% block title %}Résultats des éléctions des délégués{% endblock %}

{% block body %}
<div class="container">
<h1>Délégués désignés</h1>
    <div class="row">
<table class="table table-bordered"><tr><td>    Comité   </td><td>   Noms des délégués    </td><td>   Femme   </td><td>   Homme   </td></tr>
<tr><td>    01 - Bourg-en-Bresse    </td><td>   Serge Tissot    </td><td>       </td><td>   1   </td></tr>
<tr><td>    01 - Haut-Bugey </td><td>   Daniel Rossi    </td><td>       </td><td>   1   </td></tr>
<tr><td>    02 - Aisne  </td><td>   Fabienne Marchionni </td><td>   1   </td><td>       </td></tr>
<tr><td>    03 - Bassin de Vichy    </td><td>   Robert Boutterin, Sylvie Boussand, Frederic Morandat    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    06 - Cannes Mandelieu   </td><td>   Herve Lavisse, Alexia Tran  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    06 - Nice   </td><td>   Xavier Pozzovivo, Roselyne Grac, Claude Ferrucci, Liliane Dotta </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    07 - Ardèche Nord   </td><td>   Christian Raciquot, Muriel Gay mellier, Annabelle Devillard </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    07 - Ardèche Sud    </td><td>   Patrick Geremia, Florence Pallot, Faride Eladie </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    08 - Ardennes   </td><td>   Arnaud Lempereur, Aleksandra Langlais micic </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    09 - Ariège </td><td>   Veronique Gomes, Michel Larive, Arnaud Coustie  </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    10 - Aube   </td><td>   Mireille Brouillet, Jean marc Weinling  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    11 - Carcassonnais  </td><td>   Jean louis Vachot   </td><td>       </td><td>   1   </td></tr>
<tr><td>    11 - Narbonnais </td><td>   Julien Bonnet gibert    </td><td>       </td><td>   1   </td></tr>
<tr><td>    11 - Ouest Audois   </td><td>   Jean didier Carre, Odile Carol, Manon Le bretton, Marie helene Carre    </td><td>   3   </td><td>   1   </td></tr>
<tr><td>    12 - Aveyron Sud Saint Afrique  </td><td>   Marie josee Planas, Guy Marion  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    12 - Rodez  </td><td>   Christophe Marion, Christelle Galtier, Guilhem Serieys, Philippe Gastrein, Valerie Tavernier    </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    13 - 13 </td><td>   Vincent Lemassu, Stella Apeddu  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    13 - Est    </td><td>   Alain Tarrini, Anne marie Delaubier, Monique Arcadio    </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    13 - Marseille Centre 4-5-6 </td><td>   Frederic Boyer, Karine Jomeau, Dominique Perez, Frederic Blanchard  </td><td>       </td><td>       </td></tr>
<tr><td>    13 - Marseille Nord 15-16   </td><td>   Jean Sicard </td><td>       </td><td>   1   </td></tr>
<tr><td>    13 - Marseille Robespierre 7-8-9-10-11  </td><td>   Veronique Veinberg, Jean marc Cavagnara, Pierre Maurice </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    13 - Pays d'Aix </td><td>   Dominique Fortunato, Miki Avella horiuchi, Matthias De lozzo, Christelle Ballardini </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    14 - Caen 1ère  </td><td>   Karinne Gualbert, Marc Charbonnier  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    14 - Lisieux 3 & 4ème   </td><td>   Jean michel Gualbert, Sylvie Cozzi busato   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    15 - Cantal </td><td>   Jean marie Benoit, Alexandra Ordroneau  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    16 - Charente   </td><td>   Marcelle Leduque, Jean gabriel Coignet, Jean michel Pascal, Claudine Granthomme </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    17 - Saintonge  </td><td>   Maud Assila </td><td>   1   </td><td>       </td></tr>
<tr><td>    18 - Bourges/Vierzon    </td><td>   Celine Millerioux, Denis Ducamp </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    19 - Corrèze    </td><td>   Claude Maupertuy, Jean marc Vareille    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    21 - Grand Dijon    </td><td>   Allain Graux    </td><td>       </td><td>   1   </td></tr>
<tr><td>    22 - Côtes-d'Armor  </td><td>   Jacques Quiniou, Ines Gonse, David Lemarie, Anne marie Brosch   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    23 - Creuse </td><td>   David Gipoulou, Laurence Pache, Laurent Sauvajon    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    24 - Bergeracois 2ème   </td><td>   Margaret Mechin, Jean Lacassagne    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    24 - Vallée de L'Isle/Blanc 1ère    </td><td>   Richard Lavigne </td><td>       </td><td>   1   </td></tr>
<tr><td>    25 - Besançon   </td><td>   Hanene lena Diar bendiab, Severine Vezies, Rosine Chavin simonot, Daniel Conversy, Michel Boutonnet, Benoit Maillard salin  </td><td>   3   </td><td>   3   </td></tr>
<tr><td>    26 - Drôme (département)    </td><td>   Hélène LACHERET, Corinne MOREL-DARLEUX, Didier THEVENIEAU,  Etienne MAILLET, William OUZILOU, Jean Marc TOURNIER, Jacques Bonnet, Olivier JOSPIN.   </td><td>       </td><td>       </td></tr>
<tr><td>    27 - Bernay-Pont Audemer    </td><td>   Patricia Didtsch    </td><td>   1   </td><td>       </td></tr>
<tr><td>    27 - Evreux </td><td>   Thomas Lafeuille, Hubert Legras </td><td>       </td><td>   2   </td></tr>
<tr><td>    28 - Chartres   </td><td>   Patrice Gendreau    </td><td>       </td><td>   1   </td></tr>
<tr><td>    29 - Pays de Brest  </td><td>   Florian Bizien, Anjela Gallais lavanant, Guilhem Grimal, Mouna Soliymani    </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    30 - Aigoual Cévennes Vidourle  </td><td>   Fabienne Labrosse, Joel Benaderette, Herve Deschamps    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    30 - Alès / Pays Cévenol    </td><td>   Xavier Aliot, Denise Marsetti   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    30 - Nîmes Costières Camargue   </td><td>   Adelaide Panaget, Matthieu Faure    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    30 - Uzès Pt-du-Gard Val. du Rhône  </td><td>   Marie pierre Vaselli, Charles Menard, Josette Jager, Luc Rousselot, Marion Prochazka rousselot  </td><td>   3   </td><td>   2   </td></tr>
<tr><td>    31 - Charlotte Delbo    </td><td>   Christophe Schimmel, Romain Jammes, Annie Ertz, Lionel Boireau, Katia Broussy   </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    31 - Flora Tristan  </td><td>   Anne Stambach terrenoir, Gilles Naudy   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    31 - Haute-Garonne Sud-Est  </td><td>   Monique Fabre, Bruno Brouard    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    31 - Mendel Langer  </td><td>   Mathilde Andre, Antoine Le tron </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    31 - Olympe de Gouges   </td><td>   Marc Vidal, Helene Magdo, Francois Michaud, Lise Maillard   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    31 - Ouest Toulousain   </td><td>   Francoise Courreges, Daniel Authier </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    31 - Sud Toulousain </td><td>   Simon Berger, Dominique Le Breton, Solveig Rousselot, Olivier Balzer    </td><td>       </td><td>   1   </td></tr>
<tr><td>    32 - Gers   </td><td>   Pascal Penetro  </td><td>       </td><td>   1   </td></tr>
<tr><td>    33 - Gérard Brégeaud 4ème   </td><td>   Jacques Martinet, Nelly Simounet    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    33 - Gironde 1&2ème </td><td>   Brigitte Lassabe, Francisco Martin gomez, Anne Druais, Adrien Rayssac   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    33 - Gironde 3ème   </td><td>   Mamadou Niang, Sylvaine Lacrampe    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    33 - Gironde 5ème   </td><td>   Olivier Soria   </td><td>       </td><td>   1   </td></tr>
<tr><td>    33 - Gironde 7ème   </td><td>   Yann Couvidat   </td><td>       </td><td>   1   </td></tr>
<tr><td>    33 - Gironde Entre2mers 12ème   </td><td>   Catherine Bonnaud   </td><td>   1   </td><td>       </td></tr>
<tr><td>    33 - Sud Gironde 9ème   </td><td>   Michel Le ray, Christine Boronat croizier   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    34 - Beziers 7ème   </td><td>   David Garcia, Michel Szewczyk, Mathilde Denjean </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    34 - Centre Hérault 8ème    </td><td>   Myriam Hubert   </td><td>   1   </td><td>       </td></tr>
<tr><td>    34 - Garrigues Mosson 5ème  </td><td>   Thierry Aufranc, Zohra Dirhoussi (à confirmer)  </td><td>       </td><td>   1   </td></tr>
<tr><td>    34 - Littoral 9ème  </td><td>   Anne Roux, Jean marie Pourtier, Serge Azais </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    34 - Montpellier Est 3ème   </td><td>   Franck Fiandino, Pascale Le neouannic, Patrick Seguin, Muriel Ressiguier    </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    34 - Montpellier Nord 1ère  </td><td>   Jean philippe Prost, Clement Chateau    </td><td>       </td><td>   2   </td></tr>
<tr><td>    34 - Montpellier Sud Ouest 2ème </td><td>   Chantal Ponsot  </td><td>   1   </td><td>       </td></tr>
<tr><td>    34 - Sète-Frontignan 4ème   </td><td>   Ghyslaine Gelys, Richard Belfer, Madeleine Estryn   </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    35 - Ille-et-Vilaine Nord   </td><td>   Herve Launay, Claude Lucas, Nicole Echeverria pelle </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    35 - Rennes / Redon </td><td>   Felix Boullanger, Jean paul Tual, Marianne Audran, Selin Ersoy, Patrick Bergogne    </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    36 - Indre  </td><td>   Aymeric Compain, Patrick Beaujard, Corinne Chanzy   </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    37 - Indre-et-Loire </td><td>   Anthony Brondel, Sylvie Adolphe, Laure Ferrand, Darya Chekhova, Tommy Lasserre, Johann Elbory   </td><td>   3   </td><td>   3   </td></tr>
<tr><td>    38 - Echirolles 2ème    </td><td>   Laure Cabanal, Antoinette Dimier, Emilie Marche, Marie-Brigitte Melot, François Bouchet, Davis Smith, Sofiane Kouidi, Raphaël Juy, Pierre-Yves Emeraud, Kristof Domenech, Dominique Mulé (élu-e-s par l'AG départementale)  </td><td>   6   </td><td>   5   </td></tr>
<tr><td>    38 - Grenoble   </td><td>   Pierre Augier, Dijleren Acar, Laetitia Lemoine, Catherine Rakose, Tania Bustos, Alan Confesson, Atisha Garin-Michaud, Tayeb Tounsi  </td><td>   4   </td><td>   4   </td></tr>
<tr><td>    38 - Nord-Isère </td><td>   Nicole Varas, Thierry Monchatre jacquot </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    38 - Saint-Martin-d'Hères 2ème  </td><td>   Sophie Ravanne  </td><td>   1   </td><td>       </td></tr>
<tr><td>    38 - Terres froides/Bièvre/Valdaine </td><td>   Isabelle Thomas </td><td>   1   </td><td>       </td></tr>
<tr><td>    38 - Voironnais / Sud Grésivaudan   </td><td>   Veronique Puthod, Amin Ben ali  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    39 - Jura   </td><td>   Sylvie Chagnard, Maryline Melenchon, Alexis David   </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    40 - Landes 1ère    </td><td>   Celine Piot, Laurent Peguy  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    40 - Landes 2ème    </td><td>   Jean renaud Ferran  </td><td>       </td><td>   1   </td></tr>
<tr><td>    41 - Loir-et-Cher   </td><td>   Sebastien Beaudeux, Carole Di tommaso   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    42 - Loire Sud St Etienne   </td><td>   Andree Taurinya, Mohamed Oumakhlouf, Corinne Oumakhlouf, Raymond Castillo   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    44 - Jade & Retz    </td><td>   Alain De saint amour    </td><td>       </td><td>   1   </td></tr>
<tr><td>    44 - Lac & Loire    </td><td>   Fabien GRACIA, Catherine CHASTAN    </td><td>       </td><td>       </td></tr>
<tr><td>    44 - Nantes Nord-Loire  </td><td>   Gilles Rialland, Jean luc Legal, Catherine Legal    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    44 - Saint-Nazaire  </td><td>   Philippe Martin, Vanessa Toublanc   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    44 - Toussaint Louverture   </td><td>   Erwan Bourrigault   </td><td>       </td><td>   1   </td></tr>
<tr><td>    45 - Giennois   </td><td>   Fabien Auffret  </td><td>       </td><td>   1   </td></tr>
<tr><td>    45 - Montargois </td><td>   Marie claire Gama, Alain Gama   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    45 - Orléanais & Pithiverais    </td><td>   Etienne Sappey, Sacha Berthe verdelet   </td><td>       </td><td>   2   </td></tr>
<tr><td>    47 - Agen-Nérac </td><td>   Celine Boussie  </td><td>   1   </td><td>       </td></tr>
<tr><td>    47 - Marmande Marmande  </td><td>   Paul Laustriat, Magali Castanier    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    47 - Villeneuve </td><td>   Lionel Chilaud  </td><td>       </td><td>   1   </td></tr>
<tr><td>    49 - Angers </td><td>    Pierre Mignot (comité Saumur?) </td><td>       </td><td>       </td></tr>
<tr><td>    49 - Cholet </td><td>   Lionel Dupuet, Claude Biardeau  </td><td>       </td><td>       </td></tr>
<tr><td>    49 - Saumur </td><td>   Gaelle Chardon  </td><td>   1   </td><td>       </td></tr>
<tr><td>    50 - Centre-Sud-Manche  </td><td>   Gerard Lacroix, Benedicte Maziere, Karin Lacroix    </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    50 - Cherbourg  </td><td>   Yvonne Pecoraro </td><td>   1   </td><td>       </td></tr>
<tr><td>    51 - Chalons    </td><td>   Francoise Georges, Nicolas Maurin   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    52 - Haute-Marne    </td><td>   Daniel Monnier, Marie jose Noel </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    53 - Château-Gontier    </td><td>   Manuel Doumeau  </td><td>       </td><td>   1   </td></tr>
<tr><td>    53 - Laval  </td><td>   Christelle HUNAULT, Julien FAVROT   </td><td>       </td><td>       </td></tr>
<tr><td>    54 - Meurthe-et-Moselle </td><td>   Dominique Mauvais, Michael Silistrini, Bertrand Segers, Gregoire Briquet    </td><td>   1   </td><td>   3   </td></tr>
<tr><td>    57 - Moselle-Est    </td><td>   David Seyer, Marylene Gaviano   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    57 - Pays messin-Metz   </td><td>   Claudine Poirson, Pascal Gatty  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    57 - Thionville-Fensch  </td><td>   Celine Leger, Gilles Wobedo </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    59 - Douaisis   </td><td>   Francois Guiffard, Leslie Lefebvre, Aurelien Gack   </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    59 - Lille Métropole    </td><td>   Christine Le coent, Julien Poix, Sebastien Polveche, Dominique Vanderspiegel, Jocelyne Dubois, Adrien Quatennens, Jean claude Petit, Christine Machuron </td><td>   4   </td><td>   4   </td></tr>
<tr><td>    59 - Valenciennois & Avesnois   </td><td>   Paul Megueul, Corinne Hennotelle, Claude Veyer, Francoise Dupont cunin  </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    60 - Oise   </td><td>   Michael Monzo, Julien Galvez, Veronique Noel    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    61 - Flers  </td><td>   Sebastien Roussette </td><td>       </td><td>   1   </td></tr>
<tr><td>    63 - Clermont-Montagne - 3ème   </td><td>   Aurelie Ducruet, Huguette Ruiz, Francois Ulrich, Alparslan Coskun   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    63 - Clermont-Nord - 1ère   </td><td>   Cherif Elhaf, Laurence Schlienger, Guillaume Gaime, Francoise Dureau, Romain Dureau </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    63 - Puy-de-Dôme 3 cantons  </td><td>   Michelle Collange, Marc Chovin  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    63 - Riom-Combrailles - 2ème    </td><td>   Lidia Lebas, Olivier Clavaud    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    63 - Thiers-Ambert  </td><td>   Tony Bernard, Patricia Chataing, Annie Perufel  </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    64 - 6 Hendaye  </td><td>   Robert Harte, Armelle Gouron    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    64 - Pau Béarn  </td><td>   Marie ange Fouquet, Denis Angermann, Franck Fouquet </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    65 - Hautes-Pyrénées    </td><td>   Maurice Dussollier, Monique Sanciaud, Roland Laporte, Marie jose Cremades sanchez, Thomas Demoutiez </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    66 - Conflent Cerdagne Capcir 3ème  </td><td>   Alain Prat de riu, Manuella Hallier </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    66 - Perpignan ASM 1ère </td><td>   Francis Daspe, Carole Gohier, Henri Vilaro  </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    67 - Nord 3ème  </td><td>   Antoine Roth    </td><td>       </td><td>   1   </td></tr>
<tr><td>    67 - Salvador Allende 4 ème </td><td>   Jean christophe Capelier    </td><td>       </td><td>   1   </td></tr>
<tr><td>    67 - Strasbourg 1ère    </td><td>   Jean claude Val, Gwenaelle Le leuch </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    68 - Haut-Rhin Sud  </td><td>   Marie christine Weigel zins </td><td>   1   </td><td>       </td></tr>
<tr><td>    69 - Rhône 1 - Lyon 5 & 9   </td><td>   Marie alice Jacquiot, Damien Cogez  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    69 - Rhône 13 Meyzieu   </td><td>   Helene Jacomelli    </td><td>   1   </td><td>       </td></tr>
<tr><td>    69 - Rhône 14 Vénissieux    </td><td>   Claude Delorme  </td><td>       </td><td>   1   </td></tr>
<tr><td>    69 - Rhône 2    </td><td>   Serge Goudard, Eleni Ferlet, Stephane Gillet, Brigitte Gillet, Maika Fargeot, Sami Bouzid   </td><td>   3   </td><td>   3   </td></tr>
<tr><td>    69 - Rhône 3    </td><td>   Nicole Benayoun, Jean philippe Sechaud  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    69 - Rhône 4    </td><td>   Baptiste Caquot </td><td>       </td><td>       </td></tr>
<tr><td>    69 - Rhône 6 Villeurbanne   </td><td>   Danielle Cheriot, Danielle Collet, Olivier Gluck    </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    69 - Rhône 7 Bron   </td><td>   Gérard Gracia, François Bonnet  </td><td>       </td><td>       </td></tr>
<tr><td>    72 - Sarthe 4ème    </td><td>   Eric Jamet, Therese Gouet   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    73 - Chambéry / Aix </td><td>   Nathalie Strasser, Renee Aubineau, Fabien Nathan, Philippe Langlois </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    75 - Paris 11ème    </td><td>   Sandrina Fois, Christine Debuisson, Antoine Bonnet, Alexis Vilanova, Yohann Delozier, Layla Yakoub  </td><td>   3   </td><td>   3   </td></tr>
<tr><td>    75 - Paris 12ème    </td><td>   Clement Bony, Isabelle helene Lerner, Ramzi Kebaili, Isabelle Bolvin, Mathilde Larrere  </td><td>   3   </td><td>   2   </td></tr>
<tr><td>    75 - Paris 13ème    </td><td>   Alexis Villareal, Diane Coulomb, Coline Talibart, Guillaume Royer, Hugo Coldeboeuf, Romain Aufaure, Laurence Guariglia, Alice Vintenon  </td><td>   4   </td><td>   4   </td></tr>
<tr><td>    75 - Paris 14ème    </td><td>   Jean pierre Coulomb, Eric Chassaing, Dominique Mesfioui, Claire Bouthillon  </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    75 - Paris 15ème    </td><td>   Olivier Bonafe, Joelle Ellert, Hugo Hanry, Gauthier Boucly, Francoise Giboteau  </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    75 - Paris 16-17ème </td><td>   Marian Petitfils, Alexandre Prud hommeau, Cecile Tavan, Anne marie Bennani  </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    75 - Paris 18ème    </td><td>   Celine Ferrero, Audrey Torrecilla, Daniele Atala, Valerie Lafont, Christiane Verant, Stephane Rivail, Gabriel Mazzolini, Antoine Hemon, Etienne Icard   </td><td>   5   </td><td>   4   </td></tr>
<tr><td>    75 - Paris 19ème    </td><td>   Christian Rodriguez, Claude Poliak, Hadrien Clouet, Carole Feral, Raul Sampognaro, Anthony Magalhaes, Geraldine Palissat    </td><td>   3   </td><td>   4   </td></tr>
<tr><td>    75 - Paris 20ème    </td><td>   Fabien Nony, Josette Veyssiere, Patricia Caille, Pierre Magne, Jonathan Soyez, Tatiana Jarzabek, Elyse Lethuillier, Mathilde Panot, Christophe Roux </td><td>   5   </td><td>   4   </td></tr>
<tr><td>    75 - Paris 5-6-7ème </td><td>   Jeanne Chevalier, Clement Fradin, Vincent Legeay, Cecile Debrand bonapetit  </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    75 - Paris 8 -9-10ème   </td><td>   Michel Hernando, Paul Vannier, Emmanuel Olivard, Sarah Legrain, Nolwenn Neveu, Frederique Rey, Hugo Roels   </td><td>   3   </td><td>   4   </td></tr>
<tr><td>    75 - Paris Centre 1 à 4ème  </td><td>   Anne Gervais, Dominique Magniette, Jean paul Renoux </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    76 - Flora Tristan Rouen 1ère   </td><td>   David Sebag, Helene Mayeur, Mathias Girard rzewuski </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    77 - André Léo  </td><td>   Solange Blais perrin, Christian Bourdet </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    77 - Eugène Varlin  </td><td>   Jacob Voglozin, Julia Killian   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    77 - Jeanne Deroin  </td><td>   Chantal Thomas, Jean luc Lafaix </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    77 - Pauline Roland </td><td>   Francoise Godin </td><td>   1   </td><td>       </td></tr>
<tr><td>    78 - Yvelines 2-10  </td><td>   Alain Le vot, Catherine Lasserre, Marc Wojtowicz    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    78 - Yvelines 7 </td><td>   Damien Dorna, Manon Coleou  </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    78 - Yvelines Est   </td><td>   Pierre Mascomere, Valerie Lanners, Alicia marie Hajjar  </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    79 - Deux-Sèvres    </td><td>   Frank Michel, Marie Glück, Isabelle Godeau  </td><td>       </td><td>       </td></tr>
<tr><td>    80 - Somme  </td><td>   Vincent Bawedin, Yannick Savy, Emmanuelle Alarcon garcia    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    81 - Tarn 1ème  </td><td>   Loic Vergnes    </td><td>       </td><td>       </td></tr>
<tr><td>    81 - Tarn 2ème  </td><td>   Mederic Vildebrand, Jean jacques Vaudou, Annie Laaroussi, Agnes Meroni  </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    81 - Tarn 3ème  </td><td>   Marie odile Gay bude, Francoise Bague, Guy Beaussart, Bernard Cottaz cordier    </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    82 - Tarn-et-Garonne    </td><td>   Jeannine Meignan, Pascal Mousque, Raphael Ferret    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    83 - Aire Toulonnaise   </td><td>   Christian Colard, Alain Losco, Laurent Richard  </td><td>       </td><td>   3   </td></tr>
<tr><td>    84 - Avignon - Vallée du Rhône  </td><td>   Thomas Pizard, Cecile Bourdaud, Marion Laporte  </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    84 - Sud Vaucluse   </td><td>   Jean michel Gremillet   </td><td>       </td><td>   1   </td></tr>
<tr><td>    85 - Vendée </td><td>   Olivier Lineatte, Evelyne Robin, Philippe Sellier, Brigitte Guillet </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    86 - Châtellerault Nord 4ème    </td><td>   Michele Douhet  </td><td>   1   </td><td>       </td></tr>
<tr><td>    86 - Vienne 2 et 3ème   </td><td>   Frederic Abrachkoff, Thomas Sahabi, Severine Lenhard    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    87 - Haute-Vienne   </td><td>   Adrien Gatet, Jean pierre Normand, Chantal Lafaye, Yves Thiebaut, Danielle Soury    </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    88 - Vosges </td><td>   Romain Mathieu, Aline Weber, Fabrice Pisias, Laurence Goujard   </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    89 - Yonne APF  </td><td>   Christophe Giblot, Pascale Kaim </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    89 - Yonne YN   </td><td>   Yoann Toupet    </td><td>       </td><td>   1   </td></tr>
<tr><td>    90 - Territoire de Belfort  </td><td>   Laurent Dupre   </td><td>       </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 10ème  </td><td>   Nicole Esteve, Yvette Lamy  </td><td>   2   </td><td>       </td></tr>
<tr><td>    91 - Essonne 1ère   </td><td>   Pascale Prigent, Sylvie Prigent, Arnaud Pillier </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 2ème   </td><td>   Mathieu Hillaire    </td><td>       </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 3ème   </td><td>   Pascal Manigot  </td><td>       </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 5ème   </td><td>   Sylvere Cala    </td><td>       </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 6ème   </td><td>   Frederique Dumont, Olivier Picot, Dominique Bardou, Olga Juraver    </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    91 - Essonne 7ème   </td><td>   Mounia Benaili, Therese Herluc, Vivien Rebiere, Samira Kechelal </td><td>   3   </td><td>   1   </td></tr>
<tr><td>    91 - Essonne 8ème   </td><td>   Patrice Finel, Jerome Flament   </td><td>       </td><td>   2   </td></tr>
<tr><td>    91 - Essonne 9ème   </td><td>   Sylvain Joseph  </td><td>       </td><td>   1   </td></tr>
<tr><td>    92 - Clichy Levallois   </td><td>   Yannick Remy    </td><td>       </td><td>   1   </td></tr>
<tr><td>    92 - Dulcie September   </td><td>   Juliette Hamelin, Mathias Andre </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    92 - Louise Michel  </td><td>   Anne Saidi, Bertrand Perrotte, Myriam Aloughi   </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    92 - Lucie Aubrac   </td><td>   Claude Barrouil, Simone Jacquinot, Lucie Heurtier   </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    92 - Olympe de Gouges   </td><td>   Jean paul Rubaux    </td><td>       </td><td>   1   </td></tr>
<tr><td>    92 - Orwell </td><td>   Patricia Neau, Jean claude Bussiere </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    93 - Les Lilas / Le Pré </td><td>   Thomas Linard, Claire Fetet </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    93 - Montreuil  </td><td>   Benjamin Bornhausen, Rose anne Lhermet, Michel Lamboley, Elisabeth Navarrete rupayan, Claudio Calfuquir </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    93 - Ouest  </td><td>   Thibault Lhonneur, Bouchra Salih    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    93 - Seine-Saint-Denis 6ème </td><td>   Amna Gedouar, Daniel Bernard    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    94 - Val-de-Marne 1ère  </td><td>   Cathy Billon, Claire Giardelli, Yannick Stec    </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    94 - Val-de-Marne 3ème  </td><td>   Jeannick Le lagadec, Plamen Pounkin </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    94 - Val-de-Marne 4ème  </td><td>   Mathieu Dupas, Delphine Fenasse, Alice Benveniste   </td><td>   2   </td><td>   1   </td></tr>
<tr><td>    94 - Val-de-Marne 5ème  </td><td>   Serge Marquis, Thomas Mettey, Nathalie Levallois    </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    94 - Val-de-Marne 6ème  </td><td>   Sylvain Mailler, Maryvonne Legourd rocheteau, Thomas Giry, Cecile Germain, Djamel Arrouche  </td><td>   2   </td><td>   3   </td></tr>
<tr><td>    95 - Val-d'Oise 3ème    </td><td>   "Patrick Couffin, Sylvie Boulanger
Luc DEPREZ, Françoise JOLLY"    </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    95 - Val-d'Oise 4-6ème  </td><td>   Patrice Lavaud, Jean yves Bauduin, Cathy Pinheiro   </td><td>   1   </td><td>   2   </td></tr>
<tr><td>    95 - Val-d'Oise 7-8-9ème    </td><td>   Luc DEPREZ  </td><td>       </td><td>       </td></tr>
<tr><td>    971 - Guadeloupe    </td><td>   Guilhem Saltel, Celine Koenig   </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    974 - La Réunion Nord   </td><td>   Alexandre Cailleteau, Perceval Gaillard </td><td>       </td><td>   2   </td></tr>
<tr><td>    974 - La Réunion Sud    </td><td>   François Fasquel    </td><td>       </td><td>   1   </td></tr>
<tr><td>    99 - Amériques  </td><td>   Patrick Zahnd, Elise Ballet </td><td>   1   </td><td>   1   </td></tr>
<tr><td>    99 - Benelux    </td><td>   Sophie Rauszer, Florianne Gerwann, Pascal Hansens, Andre Thomas </td><td>   2   </td><td>   2   </td></tr>
<tr><td>    99 - Europe centrale et orientale, Asie, Océanie    </td><td>   Magali Orsini, Marion Alcaraz, Marie barbara Schimmel, Julien Boeuf, Laurent Sirizzotti, Cecile Blanchet    </td><td>   4   </td><td>   2   </td></tr>
<tr><td>    99 - Europe du Nord </td><td>   Guillaume Delarue   </td><td>       </td><td>   1   </td></tr>
<tr><td>    99 - Méditerranée et Afrique    </td><td>   Philippe Ogonowski  </td><td>       </td><td>   1   </td></tr>
        </td><td></td><td></td><td>   245 </td><td>   286 </td></tr>
        </td><td></td><td></td><td>   531 </td><td>   531 </td></tr>
        </td><td></td><td></td><td>   46,14%  </td><td>   53,86%  </td></tr>
</table>

    </div>
</div>
{% endblock %}
