{% extends "contribution/list_validated_contributions.html.twig" %}

{% block contribution_empty %}
Aucune contribution ouverte à la signature.
{% endblock %}

{% block th_contribution_votes %}
<th>Signatures</th>
<th>dont CN</th>
<th>Signer</th>
{% endblock %}

{% block th_contribution_validated %}
{% endblock %}
{% block td_contribution_validated %}
{% endblock %}

{% block td_contribution_votes %}
<td>{{ contrib.adhvote }}</td>
<td>{{ contrib.cnvote }}</td>
<td>
    {% if contrib.uservote %}
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <span class="sr-only">Signée</span>
    {% elseif is_granted('vote', contrib.entity) %}
        <a class="btn btn-default btn-sm" href="{{path('contribution_vote', {id: contrib.id}) }}">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span class="sr-only">Signer</span>
        </a>
    {% else %}
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        <span class="sr-only">Signature impossible</span>
    {% endif %}
</td>
{% endblock %}
