{% extends "contribution/list_validated_contributions.html.twig" %}

{% block thead_signed %}
<th>Signer</th>
{% endblock %}

{% block contrib_vote %}
<td>
    {% if contrib.uservote %}
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <span class="sr-only">Signée</span>
    {% elseif is_granted('vote', contrib.entity) %}
        <a class="btn btn-default btn-sm" href="{{path('contribution_vote', {id: contrib.id}) }}">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span class="sr-only">Signer</span>
        </a>
    {% else %}
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        <span class="sr-only">Signature impossible</span>
    {% endif %}
</td>
{% endblock %}
