{% extends '::base.html.twig' %}

{% block title %}Soumettre une contribution{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Soumettre une contribution</h1>
        <p class="alert alert-warning">
            Pour des raisons techniques, le formulaire permet d'écrire environ
            8500 caractères (21000 pour les contributions générales). Mais il
            vous revient de vous conformer absolument à la limite de 8000 signes
            (20000 pour les contributions générales). Le statut de votre
            cotisation et la longueur en caractères (espaces compris) de votre
            contribution sera contrôlée a posteriori par la commission des votes.
        </p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
