{% extends '::base.html.twig' %}

{% block title %}Soumettre une contribution{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Soumettre une contribution</h1>
        <p class="alert alert-warning">
            Rappel: les contributions thématiques et statutaires sont limitées à
            <b>8000 caractères</b> (espaces compris), les contributions générales
            à 20000.<br/>
            Le statut de votre cotisation et la longueur en caractères (espaces 
            compris) de votre sera contrôlée a posteriori par la commission des
            votes.
        </p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
