{% extends '::base.html.twig' %}

{% import 'LexikPayboxBundle:Macro:paybox.html.twig' as paybox %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Paiement en ligne</h1>
        <div class="alert alert-info text-justify" role="alert">
            <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Vous avez choisi de payer en ligne,
            En cliquant sur Payer, vous allez être rediriger vers la plateforme de paiement
sécurisé Paybox.
            </p>

        </div>
        <form action="{{ url }}" method="post">
            {{ paybox.form(form) }}
            <input type="submit" value="Payer" />
        </form>
    </div>
</div>
{% endblock %}
