{% extends '::base.html.twig' %}

{% import 'LexikPayboxBundle:Macro:paybox.html.twig' as paybox %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Paiement en ligne</h1>
        <div class="alert alert-success text-justify" role="alert">
            <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Votre inscription est enregistrée.
            </p>
        </div>
        <div class="alert alert-info text-justify" role="alert">
            <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Vous avez choisi de payer en ligne.
            {% if paybox_enabled %}
                En cliquant sur Payer, vous allez être rediriger vers la plateforme de paiement
sécurisé Paybox.
            {% else %}
                Ce mode de paiement est temporairement indisponible.
                Vous serez notifié par mail lorsque celui-ci sera rétabli.
            {% endif %}
            </p>

        </div>
        {% if paybox_enabled %}
        <form action="{{ url }}" method="post">
            {{ paybox.form(form) }}
            <input type="submit" value="Payer" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
